/*id选择器*/

#id1 {
    background-color: black;
}

/*标签选择器，所有的div标签都有效果*/
div {
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50%;
}


/*class 选择器*/
.demo {
    background-color: red;
}



/*通配符选择器*/

body {
    background-image: url("../html/imgs/pikaqiu.jpeg");

}


/*属性选择器*/
div[type="button"] {

    /*!important 优先级最高*/
    background-color: deeppink;

}


/*父子选择器
    浏览器从子向父层进行搜索，性能优化
*/
div span {
    color: red;
}

/*直接子元素选择器*/
div>span {
    color: red;
}

/*并列选择器 带有demo类的div标签 */
div.demo {
    color: red;
}

/*分组选择器*/
div,
em,
span {
    color: red;
}


/*伪类选择器*/

/*鼠标覆盖*/
a:hover {
    color: red;
}

/*第一个a标签*/
a:first-child {
    color: red;
}

/*选中文本*/
a::selection {
    color: red;
}


/* 选中div的父元素中子元素的第二个是div的元素 */
div:nth-child(2) {
    color: red;
}

/* 选中div的父元素中子元素的第二个div元素 */
div:nth-of-type(2) {
    color: red;
}






/*div {*/
/*!*字体大小，设置的是高*!*/
/*font-size: 12px;*/

/*!*加粗*!*/
/*font-weight: bolder;*/

/*!*斜体*!*/
/*!*font-style: italic;*!*/

/*!*字体*!*/
/*font-family: Arial, "Times New Roman";*/

/*!*字体颜色*!*/
/*color: #f40;*/

/*!*边框*!*/
/*!*border: 1px solid black;*!*/

/*!*可以拆开*!*/
/*border-width: 10px;*/
/*border-style: dashed;*/
/*}*/

/*a:link  {*/
/*color: #f40;*/
/*}*/

/*a:hover {*/
/*color: #00f;}*/

/*a:active {*/
/*color: #000;*/
/*}*/

/*a:visited {*/
/*color: #00ff00;*/
/*}*/

/*ul.a1 {*/
/*list-style-type: circle;*/
/*vertical-align: top;border-collapse: collapse;*/
/*height: 10px;*/
/*}*/

/*body {*/
/*margin: 0;*/
/*}*/

/*div {*/
/*margin-top: 20px;*/
/*margin-bottom: 5px;*/
/*height: 15px;*/
/*width: 100%;*/
/*background-color: dimgrey;*/
/*!*color: #f40;*!*/
/*!*border:10px solid black;*!*/
/*!*border-left-color: red;*!*/
/*cursor: not-allowed;*/

/*}*/


/*.box {*/
/*position: absolute;*/
/*opacity: 0.5;*/
/*!*left: 100px;*!*/
/*!*top: 100px;*!*/
/*width: 100px;*/
/*height: 100px;*/
/*background-color: red;*/
/*}*/

/*.box1 {*/
/*!*position: absolute;*!*/
/*!*!*opacity: 0.5;*!*!*/
/*width: 200px;*/
/*height: 200px;*/
/*background-color: green;*/
/*}*/


/*优先级
    行间样式 > 内部样式 > 外部样式 > 浏览器默认样式

    !important > 行间样式 > id > class | 属性选择器 > 标签选择器 > 通配符选择器
    class选择器和属性选择器同级，谁在后面就是谁的效果

    这里的优先级仅当效果发生冲突时，才会有优先级原则，例如上面的div样式，背景颜色是黑色，但是其他的效果（例如长宽，圆角都不会冲突）
*/


/*css权重*/

/*!important                infinity*/
/*行间样式                   1000*/
/*id                        100*/
/*class | 属性选择器 | 伪类   10*/
/*标签选择器| 伪元素          1*/
/*通配符                     0*/


/*选择器多次出现，只算一次*/

/*1000 100是256进制*/



/*容器溢出*/
/*单行文本*/
p {
    height: 20px;
    line-height: 20px;
    width: 500px;
    /*border: 1px solid black;*/

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*多行文本*/
/*只做截断*/