.nav {
  padding: 10px 0;
  text-align: center;
  img {
    width: 48px;
  }
  h2 {
    font-weight: normal;
    font-size: 14px;
    margin-top: 7px;
  }
}

.groups {
  background-color: #f6f5f6;
  overflow: hidden;
  padding: 0 10px;
  .groups-title {
    position: relative;
    margin: 15px 0px 15px 10px;
    font-size: 15px;
    .more {
      color: #787d82;
      position: absolute;
      right: 0;
      font-size: 14px;
      font-weight: normal;
    }
  }
}

// 覆盖默认背景色
.am-grid .am-flexbox {
  background-color: inherit;
  .am-flexbox-item .am-grid-item-content {
    padding: 0;
    padding-bottom: 10px;
  }
}
.group-item {
  height: 75px;
  .desc {
    .title {
      font-weight: bold;
      font-size: 13px;
      margin-bottom: 5px;
    }
    .info {
      font-size: 12px;
      color: #999;
    }
  }
  img {
    width: 55px;
  }
}
.am-flexbox-align-stretch {
  margin-bottom: 10px;
  .am-grid-item {
    background-color: #fff;
    &:first-child {
      margin-right: 10px;
    }
  }
}

.news {
  padding: 10px;
  background-color: #fff;
  overflow: hidden;

  .group-title {
    margin: 10px 0 5px 10px;
    font-size: 15px;
  }

  .news-item {
    height: 120px;
    padding: 15px 10px 15px 0;
    border-bottom: 1px solid #e5e5e5;
  }

  .news-item:last-child {
    border: 0;
  }

  .imgwrap {
    float: left;
    height: 90px;
    width: 120px;
  }

  .img {
    height: 90px;
    width: 120px;
  }

  .content {
    overflow: hidden;
    height: 100%;
    padding-left: 12px;
  }

  .title {
    margin-bottom: 15px;
    font-size: 14px;
  }

  .info {
    width: 100%;
    color: #9c9fa1;
    font-size: 12px;
  }

  .message-title {
    margin-bottom: 48px;
  }
}

.swiper {
  position: relative;
}
