<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hero - Admin</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <style>
    .hero-list img {
      width: 50px;
      height: 50px;
      display: block
    }

    .hero-list td {
      height: 50px;
      line-height: 50px;
    }
  </style>
</head>

<body>
  <header>
    <div class="page-header container">
      <h1>王者荣耀 <small>英雄管理器</small></h1>
    </div>
  </header>
  <div class="container hero-list">
    <a class="btn btn-success pull-right" href="">添加英雄</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>编号</th>
          <th>名称</th>
          <th>性别</th>
          <th>头像</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody id="tbody">

        <tr>
          <td>1</td>
          <td>李白-诗仙</td>
          <td>女</td>
          <td><img src="/images/0.jpg"></td>
          <td><a href="#">查看</a> <a href="">修改</a> <a href="">删除</a></td>
        </tr>

        <tr>
          <td>2</td>
          <td>鲁班</td>
          <td>女</td>
          <td><img src="/images/1.jpg"></td>
          <td><a href="#">查看</a> <a href="">修改</a> <a href="">删除</a></td>
        </tr>

        <tr>
          <td>3</td>
          <td>亚瑟</td>
          <td>男</td>
          <td><img src="/images/2.jpg"></td>
          <td><a href="#">查看</a> <a href="">修改</a> <a href="">删除</a></td>
        </tr>

        <tr>
          <td>4</td>
          <td>兰陵王</td>
          <td>男</td>
          <td><img src="/images/3.jpg"></td>
          <td><a href="#">查看</a> <a href="">修改</a> <a href="">删除</a></td>
        </tr>

        <tr>
          <td>5</td>
          <td>阿轲</td>
          <td>女</td>
          <td><img src="/images/4.jpg"></td>
          <td><a href="#">查看</a> <a href="">修改</a> <a href="">删除</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>