<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document-login</title>
</head>
<body>
    <form action="">
        用户名：<input type="text" name='username' value='jack'> <br>
        密码：<input type="password" name='userpwd' value="123"> <br>
        <input type="button" id="sub" value='登陆'>
    </form>
    <script src="/js/jquery.js"></script>
    <script>
        $('#sub').on('click',() => {
            $.ajax({
                type:'post',
                url:'/login',
                data:$('form').serialize(),
                dataType:'json',
                success:(result) => {
                    if(result.code == 201){
                        alert(result.msg)
                    }else{
                        location.href='/'
                    }
                }
            })
        })
    </script>
</body>
</html>