@charset "UTF-8";

/*初始化  reset*/
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5 "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
    color: #666;
}

ol,
ul {
    list-style: none
}

a {
    text-decoration: none
}

fieldset,
img {
    border: 0;
    vertical-align: top;
}

a,
input,
button,
select,
textarea {
    outline: none;
}

a,
button {
    cursor: pointer;
}

.wrap {
    width: 1200px;
    margin: 100px auto;
    border: 1px solid red;
}

.slide {
    height: 500px;
    position: relative;
}

.slide li {
    position: absolute;
    left: 200px;
    top: 0;
}

.slide li img {
    width: 100%;
}

.arrow {
    display: none;
}

.prev,
.next {
    width: 76px;
    height: 112px;
    position: absolute;
    top: 50%;
    margin-top: -56px;
    /*background-color: red;*/
    background: url(../images/prev.png) no-repeat;
    z-index: 99;
}

.next {
    right: 0;
    background-image: url(../images/next.png);
}


/* 以下的css代码就是轮播图图片的样式代码 */
/* 位置,大小,层级,透明度 */
/* .slide li.one {
    width: 400px;
    top: 20px;
    left: 50px;
    opacity: 0.2;
    z-index: 2
}

.slide li.two {
    width: 600px;
    top: 70px;
    left: 0px;
    opacity: 0.8;
    z-index: 3
}

.slide li.three {
    width: 800px;
    top: 100px;
    left: 200px;
    opacity: 1;
    z-index: 4
}

.slide li.four {
    width: 600px;
    top: 70px;
    left: 600px;
    opacity: 0.8;
    z-index: 3
}

.slide li.five {
    width: 400px;
    top: 20px;
    left: 750px;
    opacity: 0.2;
    z-index: 2
}  */



