<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章列表</title>
    <link rel="stylesheet" href="./libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/iconfont.css">
    <link rel="stylesheet" href="./css/main.css">
    <script src="./libs/jquery-1.12.4.min.js"></script>
    <!-- 引入模板引擎js文件 -->
    <script src="./libs/template-web.js"></script>
    <script src="./libs/jquery.sPage.min.js"></script>
    <link rel="stylesheet" href="./css/jquery.sPage.css">
</head>

<body>
    <div class="container-fluid">
        <div class="common_title">
            文章列表
        </div>
        <div class="container-fluid common_con">
            <div class="row opt_btns">
                <div class="col-xs-6">
                    <form class="form-inline">
                        <select id="selCategory" name="" class="form-control input-sm">
                            <option value="">所有分类</option>
                        </select>
                        <select id="selStatus" name="" class="form-control input-sm">
                            <option value="">所有状态</option>
                            <option value="草稿">草稿</option>
                            <option value="已发布">已发布</option>
                        </select>
                        <button id="btnSearch" class="btn btn-default btn-sm">筛选</button>
                    </form>
                </div>
                <div class="col-xs-6">
                    <a href="article_release.html" class="btn btn-success btn-sm pull-right" id="release_btn">发表文章</a>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover mp20">
                <thead>
                    <tr>
                        <th>标题</th>
                        <th>作者</th>
                        <th>分类</th>
                        <th class="text-center">发表时间</th>
                        <th class="text-center">状态</th>
                        <th class="text-center" width="100">操作</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <div class="row text-center">
                <div id="myPage" class="demo"></div>
            </div>
        </div>
    </div>

    <script type="text/template" id="tbody">
        <% for (let i = 0; i < data.length; i++) { %>
        <tr>
            <td><%=data[i].title%></td>
            <td><%=data[i].author%></td>
            <td><%=data[i].category%></td>
            <td class="text-center"><%=data[i].date%></td>
            <td class="text-center"><%=data[i].state%></td>
            <td class="text-center" date-id="<%=data[i].id%>">
                <a href="article_edit.html?id=<%=data[i].id%>" class="btn btn-default btn-xs">编辑</a>
                <a href="javascript:void(0);" data-id="<%=data[i].id%>" class="btn btn-danger btn-xs delete">删除</a>
            </td>
        </tr>
        <% } %>
    </script>
    <script type="text/template" id="selCategoryTemp">
        <% for (let i = 0; i < data.length; i++) { %>
            <option value="<%=data[i].id%>"><%=data[i].name%></option>
        <% } %>
    </script>

    <script src="./js/http.js"></script>
    <script src="./js/article_list.js"></script>
</body>

</html>