*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/*html body {*/
    /*background-color: #f4f4f4;*/
/*}*/


.top-nav-wrapper {
    width: 100%;
    height: 35px;
    font-size: 14px;
    border-bottom: 1px solid #eeeeee;
}

.top-nav {
    width: 1190px;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    border: 1px solid black;
}

.top-nav-left {
    float: left;
}

.top-nav-right {
    float: right;
}

.top-nav-menu {
    float: left;
    margin-right: 7px;
    /*display: inline;*/
    /*padding-left: 7px;*/
    /*padding-right: 7px;*/
}

.top-nav-tail {
    margin-right: 0!important;
}

.top-nav-menu a , .wdtb, .xsjcoin, .shuxian{
    font-size: 12px;
    color: #6c6c6c;
}