*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  //  去除移动端产生的高亮效果
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 20px;
  font-family: "Microsoft YaHei", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
  color: #666666;
}

a {
  text-decoration: none;
  color: #666666;
}

ul, ol {
  list-style: none;
}

.input_placeholder() {
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #666;
    font-size: .8rem;
  }

  input:-moz-placeholder, textarea:-moz-placeholder {
    color: #666;
    font-size: .8rem;
  }

  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #666;
    font-size: .8rem;
  }

  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #666;
    font-size: .8rem;
  }
}

input {
  outline: none;
  border: none;

  //去IOS扁平化
  -webkit-appearance: none;
}

@media only screen and (min-width: 750px) and (max-width: 768px) {
  html {
    font-size: 30px;
    .input_placeholder()
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  html {
    font-size: 40px;
    .input_placeholder()
  }
}

.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

[class^='icon-'],
[class*=' icon-'] {
  background: url("../images/sprites.png") no-repeat;
  background-size: 10rem, 10rem;
  -webkit-background-size: 10rem, 10rem;
}

#wrapper {
  min-width: 16rem;
  max-width: 54rem;
  background-color: #FFFFFF;
  margin: 0 auto;

  //头部搜索登陆框
  #header {
    width: 100%;
    height: 2.2rem;
    //background-color: #e43130;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .logo {
      width: 20%;
      height: 100%;
      //background-color: green;
      display: flex;
      justify-content: center;
      align-items: center;
      .icon-logo {
        display: block;
        width: 3rem;
        height: 1.3rem;
        background-position: 0 -5.3rem;
      }
    }
    .input {
      width: 80%;
      height: 100%;
      display: flex;
      ////justify-content: center;
      align-items: center;
      //background-color: green;
      margin-left: .1rem;
      //

      form {
        width: 100%;
        height: 70%;
        position: relative;
        .icon-search {
          width: 1rem;
          height: 1rem;
          //background-color: green;
          position: absolute;
          left: .7rem;
          top: 0.3rem;
          background-position: -3rem -5.5rem;
        }
        input {
          width: 100%;
          height: 100%;
          border-radius: 1rem;
          padding-left: 2rem;
          display: block;
          font-size: .6rem;
        }
      }
    }
    .login {
      width: 20%;
      height: 100%;
      text-align: center;

      a {
        width: 100%;
        height: 100%;
        display: block;
        font-size: .8rem;
        color: #FFFFFF;
        line-height: 2.2rem;
      }
    ;
    }
  }

  // 内容区
  #product {
    width: 100%;
    // 轮播图
    .banner {
      width: 100%;
      overflow: hidden;
      position: relative;
      ul {
        li {
          float: left;
          img {
          }
        }
      }
      ol {
        position: absolute;
        height: 1rem;
        bottom: .7rem;
        left: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
          width: .4rem;
          height: .4rem;
          border-radius: 50%;
          border: 1px solid #FFFFFF;
        }
        li.current {
          background-color: #FFFFFF;
        }
      }
      .mask {
        width: 100%;
        height: .6rem;
        position: absolute;
        background-color: #FFFFFF;
        bottom: 0.2rem;
        left: 0;
        border-top-left-radius: .45rem;
        border-top-right-radius: .45rem;
      }
    }

    // 中部图片
    .middle-img {
      position: relative;
      width: 100%;
      //height: 4rem;
      background-color: green;
      a {
        height: 0;
        img {
          display: block;
          width: 100%;
        }
      }
      .icon-close {
        position: absolute;
        width: 1rem;
        height: 1rem;
        top: .5rem;
        right: .5rem;
        background-position: -2rem 0;
      }
    }

    .nav {
      width: 100%;
      display: flex;
      justify-content: left;
      align-items: center;
      flex-wrap: wrap;
      font-size: .6rem;
      position: relative;
      a {
        width: 20%;
        padding: .4rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        img {
          width: 75%;
          margin-bottom: .3rem;
        }
      }
    }
    .news {
      width: 100%;
      height: 1.5rem;
      margin-top: .2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: .6rem;
      .news-img {
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
        img {
          width: 100%;
          padding: .8rem;
        }
      }
      .news-content {
        width: 65%;
        height: 100%;
        overflow: hidden;
        padding-right: 1.5rem;
        ul {
          //height: 400%;
          margin-left: .2rem;
          li {
            height: 25%;
            line-height: 1.5rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            span {
              color: red;
              margin-right: .2rem;
            }
          }
        }

      }
      .news-more {
        width: 10%;
        height: 100%;
        line-height: 1.5rem;
        color: #333333;
        a {
          span {
            margin-right: .2rem;
            color: #ececec;
          }
        }
      }
    }
    .expo-loaded {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: .3rem;
      .loaded-one {
        width: 50%;
        position: relative;
        &::after {
          height: 100%;
          content: "";
          width: 1px;
          border-right: 1px solid #f0f0f0;
          position: absolute;
          top: 0;
          right: 0;
          -webkit-transform: scaleX(.5);
          transform: scaleX(.5);
          z-index: 10;
        }
      }
      .loaded-two {
        width: 25%;
        position: relative;
        &::after {
          height: 100%;
          content: "";
          width: 1px;
          border-right: 1px solid #f0f0f0;
          position: absolute;
          top: 0;
          right: 0;
          -webkit-transform: scaleX(.5);
          transform: scaleX(.5);
          z-index: 10;
        }
      }
      .loaded-three {
        width: 25%;
      }
      img {
        width: 100%;
        display: block;
      }
    }

    .kill {
      width: 100%;
      height: 1.5rem;
      display: flex;
      justify-content: space-between;
      font-size: .6rem;
      .kill-img {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-weight: bolder;
          font-size: 1rem;
          color: #f02b2b;
        }
      }
      .kill-content {
        width: 50%;
        display: flex;
        align-items: center;
        span:nth-child(odd) {
          border: 1px solid #dfdfdf;
          margin: 0 .1rem 0;
          color: #232326;
          padding: .05rem;
        }
        span:nth-child(even) {
          font-weight: 900;
        }
      }
      .kill-more {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          color: #f23030;
          position: relative;
          margin-right: 0;
          &::after {
            content: "";
            width: .6rem;
            height: .6rem;
            background: url("../images/arrow_rt_kill.png") no-repeat;
            background-size: 100% 100%;
            position: absolute;
            top: .1rem;
            right: -.7rem;
          }
        }
      }

    }

  }
}