

* {
    margin: 0;
    padding: 0;
}

.all {
    height: 180px;
    width: 400px;
    /*background-color: cornflowerblue;*/
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -90px;

}

.black {
    border: 10px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.blue {
    position: absolute;
    left: 140px;
    border: 10px solid blue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}


.red {
    position: absolute;
    left: 280px;
    top: 0;
    border: 10px solid crimson;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.yellow {
    position: absolute;
    left: 70px;
    top: 60px;
    border: 10px solid goldenrod;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.green {
    position: absolute;
    top: 60px;
    left: 210px;
    border: 10px solid green;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}









