*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html body {
    /*background-color: #f4f4f4;*/
    width: 100%;
    height: 1000px;
}


.top-nav-wrapper {
    width: 100%;
    height: 35px;
    font-size: 12px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eeeeee;
}

.top-nav {
    width: 1190px;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    /*border: 1px solid black;*/
}

.top-nav-left {
    float: left;
}

.top-nav-right {
    float: right;
}

.top-nav-menu {
    float: left;
    margin-right: 15px;
    /*display: inline;*/
    /*padding-left: 7px;*/
    /*padding-right: 7px;*/
}

.top-nav-tail {
    margin-right: 0!important;
}

.top-nav-menu a, .xsjcoin, .shuxian{
    font-size: 12px;
    color: #6c6c6c;
}

/*字体颜色设置*/
.top-nav-menu .top-nav-left-login {
    color: #ff4400;
}

.wrapper .top-nav-wrapper .top-nav .top-nav-menu a:hover {
    color: #ff4400;
}

/*下三角*/
.xsjcoin {
    display: inline-block;
    width: 6px;
    height: 6px;
    /*background-image: url();*/
    border: 1px solid black;
}

/*购物车 收藏夹 网站导航背景图标*/
.gwcpic {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid black;
}

.scjpic {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid black;
}

.dhpic {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid black;
}














.search-nav-wrapper {
    width: 100%;
    /*margin: 0 auto;*/

}

.search-nav-wrapper .search-nav-bar {
    width: 1190px;
    height: 88px;
    padding-top: 24px;
    padding-bottom: 9px;
    /*border: 1px solid black;*/
    margin: 0 auto;
}

.search-nav-wrapper .search-nav-bar .search-left a img{
    margin: 10px 10px;
    float: left;
}

.search-nav-wrapper .search-nav-bar .search-center {
    width: 720px;
    height: 88px;
    float: left;
    margin: 0 40px;
}

.search-nav-wrapper .search-nav-bar .search-right a img{
    height: 88px;
    width: 88px;
    /*background-color: red;*/
    float: right;
    margin-right: 35px;

}

/*.search-nav-wrapper .search-nav-bar .search-right {*/
    /*!*float: right;*!*/
    /*!*display: block;*!*/
    /*position: absolute;*/
    /*top: 24px;*/
    /*right: 110px;*/
    /*height: 97px;*/
    /*width: 100px;*/
    /*border: 1px solid black;*/


.search-center .search-center-top .search-center-top-content li {
    float: left;
    font-size: 14px;
    padding: 0 3px;
    margin-right: 4px;
    line-height: 22px;
    text-align: center;
    color: #ff4400;
    cursor: pointer;
}

.search-center .search-center-top .search-center-top-content li:hover {
    background-color: #ffeee5;
}

.search-center .search-center-top .search-center-top-content .select {
    /*background-color: #ff4400;*/
    color: #eeeeee;
    font-weight: 700;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-image: linear-gradient(to right,#ff9900 0,#ff5500 100%);
}
/*.search-center-mid form {*/
    /*clear: both;*/
/*}*/

/*.search-center-bottom li {*/
    /*font-size: 14px;*/
    /*float: left;*/
    /*padding-right: 3px;*/
/*}*/




.search-center-top {
    height: 22px;
    margin-left: 20px;
}


.search-center-mid {
    position: relative;
    height: 40px;
    width: 100%;
}


.search-center-bottom {
    height: 25px;
}



.search-center-mid-left {
    height: 40px;
    margin-right: 74px;
}

.search-center-mid-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 74px;
    text-align: center;
    line-height: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.search-center-mid-right button {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    background-image: linear-gradient(to right, #ff9900 0, #ff5500 100%);
}

.search-center-mid-left .search-bd {
    /*position: relative;*/
    width: 100%;
    vertical-align: center;
    height: 36px;
    margin-right: 100px;
    border: 2px solid #ff5000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;

    /*border: 1px solid black;*/
}

.search-center-mid-left .search-bd .search-bd-input {
    vertical-align: middle;
    height: 100%;
    margin-right: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.search-center-mid-left .search-bd .search-bd-input .search-bd-input-l {
    width: 100%;
    height: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.search-center-mid-left .search-bd .search-bd-input input {
    border: none;
    outline: 0;
    height: 24px;
    width: 632px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    /*vertical-align: center;*/
    /*overflow: hidden;*/
    background-color: #fff;
}

.search-center-bottom li {
    float: left;
}

.search-center-bottom li a {
    margin-right: 8px;
    font-size: 12px;
    color: #3c3c3c;
    /*cursor: pointer;*/
}


.search-center-bottom li a:hover {
    color: #ff5000;
}

.search-center-bottom ul .select a{
    color: #ff5000;
}






























