*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html body {
    /*background-color: #f4f4f4;*/
    width: 100%;
    height: 1000px;
}


.top-nav-wrapper {
    width: 100%;
    height: 35px;
    font-size: 12px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eeeeee;
}

.top-nav {
    width: 1190px;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    /*border: 1px solid black;*/
}

.top-nav-left {
    float: left;
}

.top-nav-right {
    float: right;
}

.top-nav-menu {
    float: left;
    margin-right: 15px;
    /*display: inline;*/
    /*padding-left: 7px;*/
    /*padding-right: 7px;*/
}

.top-nav-tail {
    margin-right: 0!important;
}

.top-nav-menu a, .xsjcoin, .shuxian{
    font-size: 12px;
    color: #6c6c6c;
}

/*字体颜色设置*/
.top-nav-menu .top-nav-left-login {
    color: #ff4400;
}

.wrapper .top-nav-wrapper .top-nav .top-nav-menu a:hover {
    color: #ff4400;
}

/*下三角*/
.xsjcoin {
    display: inline-block;
    width: 6px;
    height: 6px;
    /*background-image: url();*/
    border: 1px solid black;
}

/*购物车 收藏夹 网站导航背景图标*/
.gwcpic {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid black;
}

.scjpic {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid black;
}

.dhpic {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid black;
}














.search-nav-wrapper {
    width: 100%;
    /*margin: 0 auto;*/

}

.search-nav-wrapper .search-nav-bar {
    width: 1190px;
    height: 88px;
    padding-top: 24px;
    padding-bottom: 9px;
    border: 1px solid black;
    margin: 0 auto;
    /*background-color: #ffffff;*/
    /*!*position: relative;*!*/

}

.search-nav-wrapper .search-nav-bar .search-left a img{
    margin: 10px 10px;

}

/*.search-nav-wrapper .search-nav-bar .search-center {*/
    /*!*float: left;*!*/
    /*!*display: inline-block;*!*/
    /*margin-left: 258px;*/
    /*margin-right: 300px;*/
    /*height: 97px;*/
    /*width: 500px;*/
    /*border: 1px solid black;*/
/*}*/

/*.search-nav-wrapper .search-nav-bar .search-right {*/
    /*!*float: right;*!*/
    /*!*display: block;*!*/
    /*position: absolute;*/
    /*top: 24px;*/
    /*right: 110px;*/
    /*height: 97px;*/
    /*width: 100px;*/
    /*border: 1px solid black;*/
/*}*/

