*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: 20px;
  font-family: "Microsoft YaHei", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
  color: #666666;
}
a {
  text-decoration: none;
  color: #666666;
}
ul,
ol {
  list-style: none;
}
input {
  outline: none;
  border: none;
  -webkit-appearance: none;
}
@media only screen and (min-width: 750px) and (max-width: 768px) {
  html {
    font-size: 30px;
  }
  html input::-webkit-input-placeholder,
  html textarea::-webkit-input-placeholder {
    color: #666;
    font-size: .8rem;
  }
  html input:-moz-placeholder,
  html textarea:-moz-placeholder {
    color: #666;
    font-size: .8rem;
  }
  html input::-moz-placeholder,
  html textarea::-moz-placeholder {
    color: #666;
    font-size: .8rem;
  }
  html input:-ms-input-placeholder,
  html textarea:-ms-input-placeholder {
    color: #666;
    font-size: .8rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  html {
    font-size: 40px;
  }
  html input::-webkit-input-placeholder,
  html textarea::-webkit-input-placeholder {
    color: #666;
    font-size: .8rem;
  }
  html input:-moz-placeholder,
  html textarea:-moz-placeholder {
    color: #666;
    font-size: .8rem;
  }
  html input::-moz-placeholder,
  html textarea::-moz-placeholder {
    color: #666;
    font-size: .8rem;
  }
  html input:-ms-input-placeholder,
  html textarea:-ms-input-placeholder {
    color: #666;
    font-size: .8rem;
  }
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
[class^='icon-'],
[class*=' icon-'] {
  background: url("../images/sprites.png") no-repeat;
  background-size: 10rem, 10rem;
  -webkit-background-size: 10rem, 10rem;
}
#wrapper {
  min-width: 16rem;
  max-width: 54rem;
  background-color: #FFFFFF;
  margin: 0 auto;
}
#wrapper #header {
  width: 100%;
  height: 2.2rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
#wrapper #header .logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrapper #header .logo .icon-logo {
  display: block;
  width: 3rem;
  height: 1.3rem;
  background-position: 0 -5.3rem;
}
#wrapper #header .input {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: .1rem;
}
#wrapper #header .input form {
  width: 100%;
  height: 70%;
  position: relative;
}
#wrapper #header .input form .icon-search {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: .7rem;
  top: 0.3rem;
  background-position: -3rem -5.5rem;
}
#wrapper #header .input form input {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  padding-left: 2rem;
  display: block;
  font-size: .6rem;
}
#wrapper #header .login {
  width: 20%;
  height: 100%;
  text-align: center;
}
#wrapper #header .login a {
  width: 100%;
  height: 100%;
  display: block;
  font-size: .8rem;
  color: #FFFFFF;
  line-height: 2.2rem;
}
#wrapper #product {
  width: 100%;
}
#wrapper #product .banner {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#wrapper #product .banner ul li {
  float: left;
}
#wrapper #product .banner ol {
  position: absolute;
  height: 1rem;
  bottom: .7rem;
  left: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#wrapper #product .banner ol li {
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
  border: 1px solid #FFFFFF;
}
#wrapper #product .banner ol li.current {
  background-color: #FFFFFF;
}
#wrapper #product .banner .mask {
  width: 100%;
  height: .6rem;
  position: absolute;
  background-color: #FFFFFF;
  bottom: 0.2rem;
  left: 0;
  border-top-left-radius: .45rem;
  border-top-right-radius: .45rem;
}
#wrapper #product .middle-img {
  position: relative;
  width: 100%;
  background-color: green;
}
#wrapper #product .middle-img a {
  height: 0;
}
#wrapper #product .middle-img a img {
  display: block;
  width: 100%;
}
#wrapper #product .middle-img .icon-close {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: .5rem;
  right: .5rem;
  background-position: -2rem 0;
}
#wrapper #product .nav {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  font-size: .6rem;
  position: relative;
}
#wrapper #product .nav a {
  width: 20%;
  padding: .4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
#wrapper #product .nav a img {
  width: 75%;
  margin-bottom: .3rem;
}
#wrapper #product .news {
  width: 100%;
  height: 1.5rem;
  margin-top: .2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .6rem;
}
#wrapper #product .news .news-img {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}
#wrapper #product .news .news-img img {
  width: 100%;
  padding: .8rem;
}
#wrapper #product .news .news-content {
  width: 65%;
  height: 100%;
  overflow: hidden;
  padding-right: 1.5rem;
}
#wrapper #product .news .news-content ul {
  margin-left: .2rem;
}
#wrapper #product .news .news-content ul li {
  height: 25%;
  line-height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#wrapper #product .news .news-content ul li span {
  color: red;
  margin-right: .2rem;
}
#wrapper #product .news .news-more {
  width: 10%;
  height: 100%;
  line-height: 1.5rem;
  color: #333333;
}
#wrapper #product .news .news-more a span {
  margin-right: .2rem;
  color: #ececec;
}
#wrapper #product .expo-loaded {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: .3rem;
}
#wrapper #product .expo-loaded .loaded-one {
  width: 50%;
  position: relative;
}
#wrapper #product .expo-loaded .loaded-one::after {
  height: 100%;
  content: "";
  width: 1px;
  border-right: 1px solid #f0f0f0;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
  z-index: 10;
}
#wrapper #product .expo-loaded .loaded-two {
  width: 25%;
  position: relative;
}
#wrapper #product .expo-loaded .loaded-two::after {
  height: 100%;
  content: "";
  width: 1px;
  border-right: 1px solid #f0f0f0;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
  z-index: 10;
}
#wrapper #product .expo-loaded .loaded-three {
  width: 25%;
}
#wrapper #product .expo-loaded img {
  width: 100%;
  display: block;
}
#wrapper #product .kill {
  width: 100%;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: .6rem;
}
#wrapper #product .kill .kill-img {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrapper #product .kill .kill-img span {
  font-weight: bolder;
  font-size: 1rem;
  color: #f02b2b;
}
#wrapper #product .kill .kill-content {
  width: 50%;
  display: flex;
  align-items: center;
}
#wrapper #product .kill .kill-content span:nth-child(odd) {
  border: 1px solid #dfdfdf;
  margin: 0 .1rem 0;
  color: #232326;
  padding: .05rem;
}
#wrapper #product .kill .kill-content span:nth-child(even) {
  font-weight: 900;
}
#wrapper #product .kill .kill-more {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrapper #product .kill .kill-more a {
  color: #f23030;
  position: relative;
  margin-right: 0;
}
#wrapper #product .kill .kill-more a::after {
  content: "";
  width: .6rem;
  height: .6rem;
  background: url("../images/arrow_rt_kill.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: .1rem;
  right: -0.7rem;
}
