body{
    background: url("../image/1.jpg");
}

#div1 {
    width: 200px;
    height: 200px;
    background-color: white;
    transform: rotate(0deg);
    transition: 1s all ease;
}

#div1:hover {
    transform: rotate(60deg);
}