<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Shortcut Icon" href="../public/favicon.ico" type="image/x-icon"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title></title>
    <!--<link rel="stylesheet" href="./css/main.css">-->
    <link rel="stylesheet" href="./css/catogory.css">
    <script src="./js/catogory.js"></script>
</head>
<body>
<div class="top"></div>
<div class="content">
    <div class="left">
        <ul>
            <% for (var i = 0; i < 50; i++ ){ %>
                <li><%= i %></li>
            <% } %>
        </ul>
    </div>
    <div class="right">
        <ul>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
            <li>22222</li>
        </ul>
    </div>
</div>

<div id="bottom">
    <div><a href="./"><img src="./images/home.png" alt=""></a></div>
    <div><a href="javascript:;"><img src="./images/class.png" alt=""></a></div>
    <div><a href="javascript:;"><img src="./images/buy.png" alt=""></a></div>
    <div><a href="javascript:;"><img src="./images/car.png" alt=""></a></div>
    <div><a href="javascript:;"><img src="./images/nologin.png" alt=""></a></div>
</div>
<div class="space"></div>
</body>
</html>