/*div {*/
    /*!*字体大小，设置的是高*!*/
    /*font-size: 12px;*/

    /*!*加粗*!*/
    /*font-weight: bolder;*/

    /*!*斜体*!*/
    /*!*font-style: italic;*!*/

    /*!*字体*!*/
    /*font-family: Arial, "Times New Roman";*/

    /*!*字体颜色*!*/
    /*color: #f40;*/

    /*!*边框*!*/
    /*!*border: 1px solid black;*!*/

    /*!*可以拆开*!*/
    /*border-width: 10px;*/
    /*border-style: dashed;*/
/*}*/

/*a:link  {*/
    /*color: #f40;*/
/*}*/

/*a:hover {*/
    /*color: #00f;}*/

/*a:active {*/
    /*color: #000;*/
/*}*/

/*a:visited {*/
    /*color: #00ff00;*/
/*}*/

/*ul.a1 {*/
    /*list-style-type: circle;*/
    /*vertical-align: top;border-collapse: collapse;*/
    /*height: 10px;*/
/*}*/

/*body {*/
    /*margin: 0;*/
/*}*/

/*div {*/
    /*margin-top: 20px;*/
    /*margin-bottom: 5px;*/
    /*height: 15px;*/
    /*width: 100%;*/
    /*background-color: dimgrey;*/
    /*!*color: #f40;*!*/
    /*!*border:10px solid black;*!*/
    /*!*border-left-color: red;*!*/
    /*cursor: not-allowed;*/

/*}*/


/*.box {*/
    /*position: absolute;*/
    /*opacity: 0.5;*/
    /*!*left: 100px;*!*/
    /*!*top: 100px;*!*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*background-color: red;*/
/*}*/

/*.box1 {*/
    /*!*position: absolute;*!*/
    /*!*!*opacity: 0.5;*!*!*/
    /*width: 200px;*/
    /*height: 200px;*/
    /*background-color: green;*/
/*}*/

* {
    margin: 0;
    padding: 0;
}

.all {
    height: 180px;
    width: 400px;
    /*background-color: cornflowerblue;*/
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -90px;

}

.blue {
    position: absolute;
    left: 140px;
    border: 10px solid blue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.black {
    border: 10px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.red {
    position: absolute;
    left: 280px;
    top: 0;
    border: 10px solid crimson;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.yellow {
    position: absolute;
    left: 70px;
    top: 60px;
    border: 10px solid goldenrod;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.green {
    position: absolute;
    top: 60px;
    left: 210px;
    border: 10px solid green;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}









