

/*id选择器*/

#id1 {
    background-color: black;
}

/*标签选择器，所有的div标签都有效果*/
div{
    height: 100px;
    width: 100px;
    background: black;
    border-radius: 50%;
}


/*class 选择器*/
.demo {
    background-color: red;
}



/*通配符选择器*/

* {
    background-color: green;
}


/*属性选择器*/
[id="id1"] {

    /*!important 优先级最高*/
    background-color: deeppink!important;

}


/*优先级
    !important > 行间样式 > id > class | 属性选择器 > 标签选择器 > 通配符选择器
    class选择器和属性选择器同级，谁在后面就是谁的效果

    这里的优先级仅当效果发生冲突时，才会有优先级原则，例如上面的div样式，背景颜色是黑色，但是其他的效果（例如长宽，圆角都不会冲突）
*/


/*css权重*/

/*!important                infinity*/
/*行间样式                   1000*/
/*id                        100*/
/*class | 属性选择器 | 伪类   10*/
/*标签选择器| 伪元素          1*/
/*通配符                     0*/


/*1000 100是256进制*/