.search {
  height: 100px;
  background-color: #ea4451;
  padding: 0 30px;
  display: flex;
  align-items: center;
}
.search .searchBtn {
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search .searchBtn image {
  width: 32px;
  height: 32px;
}
.search .searchBtn text {
  margin-left: 15px;
  font-size: 28px;
  color: #bbb;
}
