<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="Shortcut Icon" href="./favicon.ico" type="image/x-icon"/>-->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <title></title>
    <!--<link rel="stylesheet" href="./css/base.css">-->
    <!--<script src="./js/main.js"></script>-->
</head>
<body>
<!--//enctype="multipart/form-data"-->
<form id="form_id" action="/upload" method="post">
    姓名：<input type="text" name="username" title="" required><br>
    年龄：<input type="number" name="age" title="" required><br>
    微信：<input type="text" name="wechat" title="" required><br>
    文件：<input type="file" name="filename" title="" required><br>
    <button type="submit">提交</button>
</form>

<script src="./js/jquery-3.3.1.js"></script>

<script>
    var formID = document.getElementById('form_id');

    $('form').on('submit', function (e) {
        var formData = new FormData(formID);
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: formData,
            processData: false,
            contentType: false,
        })
    })

</script>

</body>
</html>