/**基本格式开始***************/
body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,textarea,p {
    margin:0;
    padding:0;
    font-size:12px;
    font-family: Arial, "微软雅黑", serif;
}
ul {
    list-style:none;
}
img,a img {
    border:none;
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
/**基本格式结束***************/

body.w1190 {
    width: 1190px;
    margin: auto;
}

body.w990 {
    width: 990px;
    margin: auto;
}

body {
    background-color: #6c6c6c;
}