body,
html {
  margin: 0px;
  padding: 0px;
  font-family: "Microsoft YaHei";
  color: #333;
  background-color: #fff !important;
}

* {
  box-sizing: border-box;
  touch-action: pan-y;
}

h1,
h2,
p {
  margin: 0;
}

li {
  list-style: none;
}

body,
html,
#root,
.App,
.map,
#container {
  height: 100%;
}

#container {
  padding-top: 45px;
}

.router-loading {
  text-align: center;
  padding-top: 100px;
}
